html {
	overflow-y: scroll;
}

body {
	background-color: black;
	color: white;
	font-size: 1.3em;
	font-family: monospace;
}

.green {
    color: #00ec00;
}

.red {
    color: #ea0000;
}

div#contentWrapper {
    max-width: 80ch;
    margin: 0 auto;
}

pre.centered {
    text-align: center;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 3ch;
    text-indent: -2ch;
}

ul li::before {
    content: "* ";
    display: block;
    float: left;
    width: 2ch;
}

a {
    color: #01dfff;
}

p {
	margin-top: 0;
}