<div class="contact">
<p>
Our general contact email is <a href="mailto:contact@isss.io">contact@isss.io</a>. Corporate sponsors and inquiries related to organization sponsorship should email <a href="mailto:corporate@isss.io">corporate@isss.io</a>.
</p>
<p>In addition to the general contact emails, our {{{command "officers"}}} and teams can be individually emailed using the addresses below:</p>
<ul>
<li>President - <a href="mailto:president@isss.io">president@isss.io</a></li>
<li>Vice President - <a href="mailto:vicepresident@isss.io">vicepresident@isss.io</a></li>
<li>Corporate - <a href="mailto:corporate@isss.io">corporate@isss.io</a></li>
<li>Communications - <a href="mailto:communications@isss.io">communications@isss.io</a></li>
</ul>
</div>