<div class="nuclear_launch_codes">
<p>John,</p>
<p>I've hacked the system and have retrieved the nuclear launch codes. be careful and keep these secure so they don't fall into the wrong hands.</p>

<p>Activation Sequence: 0000 0000<br/>
President's Secondary Auth: 1234 5678</p>

<p>-Ghostman</p>
</div>

</div>