<div class="git">
<p>
On branch master<br/>
Your branch is up-to-date with 'origin/master'.<br/>
nothing to commit, working directory clean<br/>
</p>
<p>
The ISSS webShell is open source! Check out and build your own version of the ISSS webShell by viewing the source code <a href="https://github.com/UTISSS/ISSS_webShell" target="_blank" title="ISSS_webShell on GitHub">on GitHub</a>.
</p>
<p>
A JS library developed in parallel called <a href="https://github.com/theBrianCui/terminator.js" target="_blank" title="terminator.js on GitHub">terminator.js</a> powers the site's terminal-like interface. It has a simple and flexible interface for building custom "programs" and terminal commands, and is also open source.
</p>
</div>