<div class="help">
<p>ISSS webShell, version 2.0.1.6(1)-release.<br/>
Created by Brian Cui and maintained by <a href="javascript:void(0)" onclick="main.autoType('officers')" title="officers">officers</a> of ISSS.</p>
<p>
These shell commands are defined internally. Type <a href="javascript:void(0)" onclick="main.autoType('help')" title="help">help</a> to see this list. Internal commands are highlighted and external <a href="http://www.ismyinternetworking.com" title="Is My Internet Working?" target="_blank">links</a> are underlined and can be clicked to run and be opened, respectively.</p>
<p>
<a href="javascript:void(0)" onclick="main.autoType('officers')" title="officers">officers</a>: View the current list of ISSS officers.<br/>
<a href="javascript:void(0)" onclick="main.autoType('contact')" title="contact">contact</a>: View contact emails for the organization.<br/>
<a href="javascript:void(0)" onclick="main.autoType('sponsor')" title="sponsor">sponsor</a>: View corporate sponsorship information and opportunities.<br/>
</p>
<p>
<a href="javascript:void(0)" onclick="main.autoType('fb')" title="fb">fb</a>: Opens the <a href="https://www.facebook.com/groups/utisss/" target="_blank" title="ISSS Facebook Group">Facebook group</a>.<br/>
<a href="javascript:void(0)" onclick="main.autoType('sub')" title="sub">sub</a>: Opens the mailing list <a href="https://utlists.utexas.edu/sympa/subscribe/isss" target="_blank" title="ISSS Mailing List">subscribe</a> page.<br/>
<a href="javascript:void(0)" onclick="main.autoType('unsub')" title="unsub">unsub</a>: Opens the mailing list <a href="https://utlists.utexas.edu/sympa/sigrequest/isss" target="_blank" title="ISSS Unsubscribe from Mailing List">unsubsribe</a> page.<br/>
</p>
<p>
<a href="javascript:void(0)" onclick="main.autoType('git')" title="git">git</a>: View the site's source code and other developer information.<br/>
<a href="javascript:void(0)" onclick="main.autoType('clear')" title="clear">clear</a>: Clear the contents of the terminal.<br/>
</p>
</div>