<div class ="new">
	<p>
	{{#if event}}
		<span class="green">[EVENT NEWS]:</span> {{event}}
	{{/if}}
	{{#if link}}
		(<a href="{{link}}" target="_blank">Register for Security Day!</a>)
	{{/if}}
</p>
<p>
	{{#if headline}}
		<span class="pink">[MEETING NEWS]:</span> {{headline}}
	{{/if}}
</p>
</div>
