<div class="news">
{{#if event}}
<p>
	<span class="green">[EVENT NEWS]:</span> {{event}}
	{{#if link}}
		(<a href="{{link}}" target="_blank">{{link_desc}}</a>)
	{{/if}}
</p>
{{/if}}
<p>
  <span class="pink">[MEETING NEWS]:</span> {{headline}}
</p>
</div>
