<div class="officers" style="display: none">

<p>Current ISSS officers for the 2018-2019 school year:</p>
<p>
  <ul>
  <li>William Han - Co-President</li>
  <li>Neil Patil - Co-President</li>
  <li>Brian Cui - Advisor</li>
  <li>Michael Asper - Engineering</li>
  <li>Joshua Wong - Engineering</li>
  <li>Abbas Ally - Engineering</li>
  <li>Alex Bellon - Engineering</li>
  <li>Antony Yun - Engineering</li>
  <li>Hayley Call - Corporate</li>
  <li>Tesia Wu - Corporate</li>
  <li>Aish Shashidhar - Logistics</li>
  <li>Humza Tariq - Logistics</li>
  <li>Jeffrey Huang - Communications</li>
  </ul>
</p>
<p>
Interested in becoming an officer? Opportunities and more information will become available near the end of the school year, though you can {{{command "contact"}}} us at any time for details regarding officer positions.
</p>
</div>
