<div class="sponsor">
<p>
The Information & Systems Security Society is sponsored by:
</p>
<ul>
{{#each sponsors}}
	<li><a href="{{link}}" target="_blank">{{name}}</a> ({{level}})</li>
{{/each}}
</li>
</ul>
<p>
ISSS is seeking corporate sponsors to help fund and host organization events! Companies that sponsor ISSS can expand their outreach in the student community through hosted events and recruiting opportunities.
</p>
<p>
Check out our <a href="{{link}}" target="_blank">sponsorship packet</a> for more details including options and benefits, and contact us at <a href="mailto:corporate@isss.io">corporate@isss.io</a> for sponsorship inquiries.
</p>
</div>