<div class="welcome" style="display: none">
<pre class="centered bigScreen">
II  +sssssss+    -sssssssy-   +sssssss+ 
II yS:     `sS  -Sy`    `sS- yS:     `sS
II ss        `  -y-       `  ss        `
II ss          /sssssssssss\ ss         
II sS`         |SSSs:`.oSSS| sS`        
II -sssssss:   |SSSh   -SSS| -sssssss:  
II   -\ssssss- |SSSS)  sSSS|   -\ssssss-
II         `Ss |SSSs/__\SSS|         `Ss
II          ss \sssssssssss/          ss
II ,.       ss  ``      -s-  ,.       ss
II yS/     :Sy  -Ss.    `yS- yS/     :Sy
II  +sssssss+    -sssssssy-   +sssssss+ 

INFORMATION & SYSTEMS SECURITY SOCIETY
</pre>
<pre class="centered smallScreen">
III  SSSSS   SSSSS   SSSSS 
 I  S     S S     S S     S
 I  S       S       S      
 I   SSSSS   SSSSS   SSSSS 
 I        S       S       S
 I  S     S S     S S     S
III  SSSSS   SSSSS   SSSSS 

INFORMATION & SYSTEMS
SECURITY SOCIETY
</pre>
{{> news news}}
<p>
The Information and Systems Security Society (ISSS) is a student organization at the University of Texas at Austin dedicated towards educating students on the topics of computer security. <span class="bigScreen">ISSS promotes a culture of security in the University by providing a safe learning environment for students to learn both software and hardware exploits as well as the underlying system behavior that enables them to be vulnerable.</span>
</p>
<ul>
<li>Join our <a href="https://www.facebook.com/groups/utisss/" target="_blank" title="ISSS Facebook Group">Facebook group</a> to RVSP for upcoming events, read about the latest security and organization news, and discuss topics with other members.</li>
<li>Sign up for our weekly <a href="https://utlists.utexas.edu/sympa/subscribe/isss" target="_blank" title="ISSS Mailing List">mailing list</a> for meeting reminders and updates.</li>
<li>View the current <a href="javascript:void(0)" onclick="main.autoType('officers')" title="officers">officers</a> list and organization <a href="javascript:void(0)" onclick="main.autoType('contact')" title="contact">contact</a> information.</li>
</li>
</ul>
<p>Type <a href="javascript:void(0)" onclick="main.autoType('help')" title="help">help</a> to view a list of available commands and navigate the site.</p>
</div>