<!DOCTYPE html> 
<html>
<head>
<title>Information & Systems Security Society</title>
<meta charset="utf-8" /> 
<meta name="description" content="The official website of the Information & Systems Security Society, a student-led organization at the University of Texas at Austin dedicated towards computer security education and awareness." />
<meta name="viewport" content="width=device-width, initial-scale=1.0, 
minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- <meta http-equiv="X-UA-Compatible" content="IE=9" /> -->
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

<div id="contentWrapper">
</div>

<div style="display: none">

{{> welcome}}
{{> help}}
{{> officers}}
{{> contact}}
{{> git}}

{{> easter}}

</div>

<link rel="stylesheet" type="text/css" href="terminator.css" />
<script src="terminator.js"></script>
<script src="script.js"></script>

</body>
</html>